.actions-menu-nav {
	/* Positioning */
	position: absolute;
	right: 0;

	/* Display & Box Model */
	@extend %reset;
	width: 0;

	/* Other */
	background: #f4f4f4;
	@include font-size(20px, 16px);
	list-style-type: none;
	@include box-sizing(border-box);
	z-index: 2;
	@include transition-duration(.25s);
	@include transition-timing-function(ease-in);
	@include border-radius(4px);

	@include media-query (xs-max) {
		overflow: hidden;
	}


	@include media-query (xs) {
		top: 0;
		height: 100%;
		width: auto;
	}

	&.active {
		width: 100%;

		@include media-query (xs) {
			position: absolute;
			top: 0;

			width: auto;
			height: 100%;
			@include rem('padding-right', 48px);
		}

		.action-item {
			width: 100%;
			@include transition-duration(.2s);

			@include media-query (xs) {
				width: 52px;
				height: 100%;
			}



			span {
				@include opacity(1);
			}
		}
	}
}

.action-item {
	width: 0;
	float: left;
	height: 100%;

	overflow: hidden;
	@include transition-duration(2s);
	@include box-sizing(border-box);
	text-align: center;
	border-left: 1px solid #ebebeb;
	@include box-shadow(0 0 1px #fff);
	background: #f4f4f4;

	@include media-query (xs) {
		@include transition-duration(.5s);
	}

	/*------- Children -------*/
	&:first-of-type {
		@include border-radius(4px 0 0 4px);
	}

	span {
		@include media-query (xs) {
			@include v-align;
			display: block;
			@include opacity(0);
			@include transition-duration(.25s);
		}
	}

	&:first-child {
		border-left: none;
		@include box-shadow(none);
	}

	&.active-sub, &:hover {
		color: #7a7a7a;
		background: #e0e0e0;
		overflow: visible;

		a {
			@include breakpoint (sm) {
				@include font-size(22px);
				line-height: 1;
			}
		}

		.toggle {
			&:before {
				bottom: -6px;
				opacity: 1;
				@include transition-duration(.2s);
			}
		}
	}

	.toggle {
		width: 100%;
		height: 100%;
		display: block;
		position: relative;


		text-align: center;
		color: #808080;
		@include transition-duration(.15s);

		@include media-query (xs-max) {
			@include rem('padding', 12px 0);
		}

		&:before {
			content: '';
			position: absolute;
			bottom: 0;
			left: 50%;
			z-index: 1;

			width: 0;
			height: 0;
			margin-left: -12px;

			border-left: 12px solid transparent;
			border-right: 12px solid transparent;
			border-top: 8px solid #e0e0e0;
			opacity: 0;
		}

		&:hover {
			color: gray;
			cursor: pointer;
			text-decoration: none;

			&:before {
				bottom: -6px;
				opacity: 1;
				@include transition-duration(.2s);
			}
		}
	}

	.cell {
		display: none;
		float: left;
		width: 100%;
		@include rem('padding', 12px);

		text-align: left;
		border-left: 1px solid #f4f4f4;
		border-right: 1px solid #f4f4f4;
		background: #fff;

		@include media-query (xs) {
			@include rem('margin', 8px 0);
			position: absolute;
			right: 0;

			min-width: 200px;
			background: #f4f4f4;
			border: none;
		}

		&.comment {
			text-align: right;

			textarea {
				text-align: left;
			}
		}
	}
}


.actions-menu {
	position: relative;
	text-align: right;

	@extend %reset;
	@include rem('margin-bottom', 20px);

	.btn-actions {
		position: relative;

		margin: 0;

		z-index: 999;
		outline: none;
	}


	.sub-menu.active {
		@include rem('margin', 12px 0);
		@include rem('padding', 20px);
	}


	.sub-menu {
		position: relative;

		width: 100%;
		display: none;
		@include rem('margin', 4px 0 12px);
		padding: 0;

		background: #f4f4f4;
		z-index: 1;
		@include box-sizing(border-box);
		list-style-type: none;
		@include border-radius(4px);

		@media (min-width: $md) {
			position: absolute;
			float: left;
		}


		li {
			width: 100%;
			@include rem('padding', 0 12px);
			float: left;

			@include transition-duration(.2s);
			@include box-sizing(border-box);


			&.sub-menu-visible { display: block; }
		}
	}
}


.actions-menu {

	form {
		textarea {
			width: 100%;
			max-width: 100%;
			min-height: 60px;
			@include rem('margin', 0 0 12px);
			padding: 0;


			border: none;
			@include border-radius(4px);
		}
	}
}


button.btn-actions {
	width: 48px;
	@include rem(padding, 10px 12px);
	@include button(#151515, #d9d9d9);
	@include font-size(20px, 16px);
	@include transition-duration(1s);
	@include border-radius(4px);


	&.active, &:hover {
		color: #e0e0e0;
		background: #707070;
		cursor: pointer;
	}

	&.active {
		@include media-query (xs) {
			@include border-radius(0 4px 4px 0);
		}
	}
}

#messages {
	display: none;
}


