$xs: 480px;
$sm: 768px;
$md: 992px;
$lg: 1200px;

$brand-primary: #CC0000;
$brand-primary-med: #9e292b;
$brand-primary-drk: #781f1C;

/* $brand-secondary: ;
$brand-secondary-med: ;
$brand-secondary-drk: ;
 */

//$text-color: ;

$button-font-color: #fff;

$base_font_size: 16px;